<h1>Listing tasks</h1>
<h2><%= t('view.hello') %>
,<%= t('view.test') %>,<%= t('help')%>
</h2>
<h2><%= t('.hello', :default => 'Hello world') %></h2>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

    <form data-persist="garlic" method="POST">
      <fieldset>
	<legend>1 - Simple form</legend><br/>
	<label for="field1">													  <textarea name="textarea"></textarea>
	<input type="submit" class="btn"/>
<br />

<%= link_to 'New Task', new_task_path %>
